<% provide(:title, "About") %>
<h1>About</h1>
<p>Monster Maker is made by Raphaël Claasen and is available under the <a href="https://www.gnu.org/licenses/gpl.html">GNU General Public License</a>.</p>
