%h1 Editing Monster
= render 'form', monster: @monster
= link_to 'Back', @monster, class: "btn btn-outline-secondary"
|
= link_to 'Delete', @monster, method: :delete, data: { confirm: I18n.t("monsters.confirm_delete", monster_name: @monster.name) }, class: "btn btn-danger" 
