<% provide(:title, "Create a Monster") %>

<h1>Create a Monster</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', monster: @monster %>
  </div>
</div>

<%= link_to 'Back', monsters_path %>
