body {
  font-family: monospace;
  background-color: lightgreen;
}
.finalPage {
  font-family: helvetica;
}
.statDiv {
  border-bottom-style: solid;
  border-bottom-color: crimson;
  border-bottom-width: 3px;
  padding-bottom: 4px;
  margin-bottom: 6px;
}
.actionTitle {
  border-bottom-style: solid;
  border-bottom-color: crimson;
  border-bottom-width: 1px;
}
#final_name {
  font-family: bookman;
  font-size: 2em;
  font-weight: bold;
}
#final_sizetypealignment {
  font-style: italic;
}
.boldAttributeName {
  font-weight: bold;
}
.actionTitle {
  font-family: bookman;
  font-size: 1.5em;
  font-weight: bold;
}
.abilityTitle {
  font-style: italic;
  font-weight: bold;
}
.attackType {
  font-style: italic;
}
.hitText {
  font-style: italic;
}
.attributesTable {
  width: 100%;
  text-align: center;
}
.ability {
  padding-top: 4px;
  padding-bottom: 4px;
}
.legendaryactionsDescription {
  padding-top: 4px;
}
